<div class="pusher_for_content"></div>


<div class="formulaire-signup-courtiers">


  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="formulaire-signup-courtiers-form">
          <div class="formulaire-signup-courtiers-title">
            <h4>Inscription</h4>
          </div>
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
  <%#= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%#= f.error_notification %>

    <!-- <div class="form-inputs"> -->
      <%#= f.input :email, required: true, autofocus: true %>
      <%#= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%#= f.input :password_confirmation, required: true %>
    <!-- </div> -->

    <%# if resource_name == :broker %>
      <%#= f.input :first_name, required: true, autofocus: true %>
      <%#= f.input :last_name, required: true, autofocus: true %>
      <%#= f.input :phone_number, required: true, autofocus: true %>
    <%# end %>

    <!-- <div class="form-actions"> -->
      <%#= f.button :submit, "Sign up" %>
    <!-- </div> -->


  <%# end %>

  <%#= render "devise/shared/links" %>


</div>


