<% content_for(:title) do %>
  Enrichissez les informations présentes sur la fiche de votre agence
<% end %>

<% content_for(:description) do %>
  Courtiers en crédit immobilier, meilleur taux crédit immobilier, négociation de crédit immobilier, rachat de crédit : l'annuaire des courtiers près de chez vous.
<% end %>

<div class="pusher_for_content"></div>



<%= render "shared/agency_creation_form", agency: @broker_agency %>
