<div class="banner-2" style="background-image: linear-gradient(to left, RGBA(96, 108, 136, 0.3) , RGBA(63, 76, 107, 0.5)), url('assets/business-tel.png');">
  <div class="banner-2-content">
    <div class="banner-2-content-pusher"></div>
    <div class="banner-2-content-title">
      <h1>Attirez plus de contacts qualifiés</h1>
    </div>
    <div class="banner-2-content-subtitle">
      <p><strong>Créez votre vitrine sur hello-courtier.com, augmentez votre visibilité et attirez les meilleurs clients vers votre agence.</strong></p>
    </div>

  </div>

</div>
