// Your footer style
.footer {
  padding: 20px 40px;
  background-color: $content;
  z-index: 5;
  & a, p {
    color: $white;
    font-size: 12px;
    &:hover {
      color: $light-grey;
    }
  }
  & i {
    font-size: 30px;
  }
  &-item {
    padding: 10px;
  }
}
