
.cta-transaction {
  & a {
    padding: 20px 2em;
    border-radius: 3px;
    background-color: $brand-color;
    color: white;
    font-weight: 700;
    &:hover {
      background-color: $content;
      border: 1px solid $light-grey;
    }
  }
  & button {
    padding: 20px 2em;
    border-radius: 3px;
    border: none;
    background-color: $brand-color;
    color: white;
    font-weight: 700;
    &:hover {
      background-color: $content;
    }
  }
}


.service-transaction {
  text-align: center;
  padding: 20px;
  & a {
    padding: 8px 20px;
    border: 1px solid $white;
    border-radius: 3px;
    // background-color: $brand-color;
    color: white;
    font-weight: 300;
    &:hover {
      background-color: $content;
      border: 1px solid $light-grey;
    }
  }
}

.large_button {
  & button {
    padding: 20px 6em;
  }
}



