// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,900,700);

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";




h1 {
  font-family: $header-font, sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.2;
  color: $content;
}

h2 {
  font-family: $header-font, sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  color: $content;
}

h3 {
  font-family: $header-font, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: $content;
}

h4 {
  font-family: $header-font, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: $content;
}

h5 {
  font-family: $header-font, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: $content;
}

h6 {
  font-family: $header-font, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: $content;
}

p {
  font-family: $base-font, sans-serif;
  font-weight: 300;
  font-size: $base-size;
  line-height: $base-height;
  color: $content;
}

ul li {
  font-family: $base-font, sans-serif;
  font-weight: 300;
  font-size: $base-size;
  line-height: $base-height;
  color: $content;
}

a {
  font-family: $base-font, sans-serif;
  font-weight: 300;
  font-size: $base-size;
  line-height: $base-height;
  color: $content;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}




