// Place all the styles related to the brokers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.broker-form {
  &-field {
  }
}


.form-control::-webkit-input-placeholder { font-weight: 300; }
.form-control:-moz-placeholder { font-weight: 300; }
.form-control::-moz-placeholder { font-weight: 300; }
.form-control:-ms-input-placeholder { font-weight: 300; }


.authentification-links {
  text-align: right;
  padding: 0px 6px;
  font-size: 14px;
  font-weight: 300;
  color: $sedondary-info;
}

.formulaire-signup-courtiers {
  padding: 30px 0px 30px 0px;
  &-title {
    text-align: center;
    padding: 10px 0px 0px 0px;
  }
  & .help-block {
    font-size: 14px;
    font-weight: 300;
  }
  & .alert, .alert-danger {
    font-size: 14px;
    font-weight: 300;
    color: $sedondary-info;
    border: none;
    background-color: $light-grey !important;
  }
  &-form {
    background-color: $light-grey;
    border: 1px solid $sedondary-info;
    padding: 10px;
  }
}
