// Place all the styles related to the brokers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.broker-form {
  &-field {
  }
}


.form-control::-webkit-input-placeholder { font-weight: 300; }
.form-control:-moz-placeholder { font-weight: 300; }
.form-control::-moz-placeholder { font-weight: 300; }
.form-control:-ms-input-placeholder { font-weight: 300; }


.authentification-links {
  text-align: right;
  padding: 0px 6px;
  font-size: 14px;
  font-weight: 300;
  color: $sedondary-info;
}

.formulaire-signup-courtiers {
  padding: 30px 0px 30px 0px;
  margin: 40px 0px;
  &-title {
    text-align: center;
    padding: 10px 0px 0px 0px;
  }
  & .help-block {
    font-size: 14px;
    font-weight: 300;
  }
  & .alert, .alert-danger {
    font-size: 14px;
    font-weight: 300;
    color: $sedondary-info;
    border: none;
    background-color: $light-grey !important;
  }
  &-form {
    background-color: $light-grey;
    border: 1px solid $sedondary-info;
    padding: 10px;
  }
  & label {
    font-size: 14px;
    font-weight: 300;
  }
}

.broker_signin {
  // background: RGBA(252, 252, 252, 0.4);
  // border: 1px solid $light-grey;

  &-title {
    text-align: center;
    padding: 20px 0px 20px 0px;
  }
  &-form {

  }
}
#modal_broker_signin_div {
  background-color: $light-grey;
  padding: 0px 40px 0px 40px;
  & label {
    font-weight: 300;
    font-size: 14px;
  }
}

#password_change {
  cursor: pointer;
}

.password_change {
  padding: 10px 0px 16px 0px;
}

.broker-profile {
  display: flex;
  flex-wrap: wrap;
  &-column {
    flex: 20% 0 0;
    background-color: $light-grey;
    &-title {
      padding: 20px 0px;
    }
    &-image {
      & img {
        border: 1px solid $white;
        border-radius: 50%;
      }
    }
    &-infos {
      padding: 40px 10px 40px 20px;
      &-box {
        display: flex;
        align-items: center;
        justify-content: center;
        &-item {
          flex: 90% 0 0;
        }
        &-edit {
          flex: 10% 0 0;
          text-align: right;
          & i {
            font-size: 14px;
          }
        }
      }
      &-form {
        display: flex;
        align-items: center;
        justify-content: center;
        & input {
          flex: 90% 0 0;
          border: none;
          border-radius: 3px;
          margin: 0px;
          padding: 2px;
          max-width: 90%;
          font-family: $base-font;
          font-weight: 300;
        }
        & button {
        flex: 10% 0 0;
          border: none;
          padding: 0px;
          margin: 0px;
          background: none;
          text-align: right;
        }
      }
    }
  }
  &-content {
    flex: 80% 0 0;
    &-banner {
      background-size: cover;
      &-title {
        padding: 120px 40px;
        & h1 {
          color: $white;
        }
      }
    }
    &-create_agency {
      padding: 20px 100px;
      &-title {
        padding: 20px 0px;
      }
      &-form {
        & input, textarea {
          margin: 4px 0px;
          padding: 2px;
          width: 100%;
          font-family: $base-font;
          font-weight: 300;
          border: 1px solid $light-grey;
          background-color: $light-grey;
          border-radius: 3px;
        }
        &-main {
          margin: 26px 0px;
          border: 1px solid $light-grey;
          padding: 20px 30px;
          &-group {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 4px 0px;
            &-right {
              flex: 25% 0 0;
            }
            &-left {
              flex: 75% 0 0;
            }
            &-gauche {
              flex: 25% 0 0;
            }
            &-centre {
              flex: 40% 0 0;
              & select {
                font-family: $base-font;
                font-weight: 300;
                color: sedondary-info;
                background: image_url('sort.png') no-repeat 98% 50%;
                overflow: hidden;
                background-color: $light-grey;
                -webkit-appearance: none;
                border-radius: 3px !important;
                border: none;
                width: 100%;
                padding: 5px;
                margin: 4px 0px;
              }
            }
            &-droite {
              flex: 35% 0 0;
              text-align: right;
            }
          }
        }
        &-button {
          margin: 60px 0px;
        }
      }
    }
  }
}


.password_change_label {
  font-size: 14px;
  padding: 20px 0px 0px 0px;
  & p {
    &:hover {
      color: $brand-color;
    }
  }
}

.password_change_form {
  display: flex;
  align-items: center;
  justify-content: center;
  &-fields {
    flex: 90% 0 0;
    font-family: $base-font;
    font-weight: 300;
    & input {
      border: none;
      border-radius: 3px;
      margin: 6px 0px;
      padding: 2px;
      width: 100%;
    }
  }
  &-button {
    flex: 10% 0 0;
    text-align: right;
    & button {
      border: none;
      padding: 0px;
      margin: 0px;
      background: none;
    }
  }

}


#add_an_expertise_1 {
  cursor: pointer;
  font-family: $base-font;
  font-weight: 300;
  color: $sedondary-info;
  font-size: 14px;
}

#add_an_expertise_2 {
  cursor: pointer;
  font-family: $base-font;
  font-weight: 300;
  color: $sedondary-info;
  font-size: 14px;
}

#add_an_expertise_3 {
  cursor: pointer;
  font-family: $base-font;
  font-weight: 300;
  color: $sedondary-info;
  font-size: 14px;
}

.broker_agency_layer {
  margin: 100px;
  border: 1px solid $light-grey;
  border-radius: 3px;
}

.new_agency_creation {
  margin: 20px 0px 100px 0px;
}

#new_agency_creation {
  cursor: pointer;
  padding: 14px 20px;
  color: white;
  font-weight: 300;
  font-size: 14px;
  border: none;
  background-color: $sedondary-info;
  border-radius: 3px;
  &:hover {
    background-color: $brand-blue;
  }
}












